$col-primary: #00A0DE;
$col-dark: #00487C;
$col-darkest: #0D0630;
$col-highlight: #53DD6C;
$col-grey: #FFF0F0;

:root {
    --col-primary: #00A0DE;
    --col-dark: #00487C;
    --col-darkest: #0D0630;
    --col-highlight: #53DD6C;
    --col-grey: #FFF0F0;
    --h-top: 76px;
}